@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

h1{
font-family: "Yeseva One", serif;
font-weight: 400;
font-style: normal;
color: #ccc14f;
text-align: center;
}

body{
    background-color: #202d10 ; 
}

ul{
    list-style-type: none;
    border: 2px solid;
    color: #ccc14f; 
    border-radius: 15px;
    display: block;
    padding: 14px 20px;
    text-align: center; 
    background-color:#ccc14f;
}

    
li{
    font: inherit;
    font-size:larger;

}


a{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ccc14f;
    color: #202d10;
}

p{
    border: 2px solid;
    color: #202d10; 
    border-radius: 15px;
    display: block;
    padding: 14px 20px;
    background-color: #ccc14f;
    text-align: justify;
}

form {

    text-align: center;
    border: 5px solid;
    color: #202d10; 
    border-radius: 15px;
    display: block;
    padding: 14px 20px;
    background-color: #ccc14f;
}